.inputTagCSS {
  height: 2rem;
  padding: 3px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: none;
  outline: none;
  transition: border-color 0.3s ease;
}

.inputTagCSS:focus {
  border-color: white;
  box-shadow: 1px 2px 3px black;
}

.imageForShopping {
  height: 3rem;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: rgb(219, 219, 219);
}

.leftDiv {
  background: gray;
  height: 83vh;
  width: 13%;
  text-align: center;
  overflow: auto;
  padding-bottom: 3.5rem;
}

.rightDiv {
  background: white;
  height: 83vh;
  width: 80%;
  overflow: auto;
}

.priceOff {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.img {
  height: 10rem;
  width: 10rem;
  border-radius: 20px;
}

.rating {
  margin-left: 1rem;
}

.title {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.price {
  font-size: 2rem;
  margin: 0;
}

.logoName {
  font-size: 2.5rem !important;
  color: #fcc729;
  display: block;
}

.mainDivForProduct {
  display: flex;
  justify-content: flex-start;
  margin: 1rem;
}

.leftSide {
  display: flex;
  justify-content: space-between;
}

.imagesOfProductDiv {
  margin-top: 1rem;
}

.imagesOfProduct {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.imagesOfProducts {
  margin: 0.5rem;
}

.bigImg {
  width: 33rem;
  height: 30rem;
  border-radius: 10px;
}

.addToCart {
  font-size: 1.5rem !important;
  background: #337DEF !important;
  color: #fcc729 !important;
  border-radius: 12px !important;
  margin-top: 2rem !important;
}

.removeFromCart {
  font-size: 1.5rem !important;
  background: #337DEF !important;
  color: #fcc729 !important;
  border-radius: 12px !important;
  margin-top: 2rem !important;
  margin-left: 2rem !important;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-container {
  flex: 1;
  text-align: center;
}

.cartImg {
  width: 5rem;
  height: 5rem;
  border-radius: 33%;
}

.addButton {
  margin-left: 1rem;
}

.autoComplete {width:15rem;}
.autoComplete label {top: -4px; color: white !important;}
.autoComplete div {height: 45px;}
.autoComplete fieldset {border-color: aliceblue !important;border-radius: 5rem;}
.autoComplete input {color: aliceblue;}

@media screen and (max-width: 330px) {
  .addToCart {
    font-size: 0.5rem !important;
  }

  .removeFromCart {
    font-size: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
}

@media screen and (max-width: 350px) {
  .imagesOfProduct {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }

  .bigImg {
    width: 19rem !important;
    height: 15rem !important;
  }
}

@media screen and (max-width: 355px) {
  .cartImg {
    width: 1.5rem;
    height: 2.5rem;
  }

  .addButton {
    margin-left: 0.1rem;
  }
}

@media screen and (max-width: 380px) {
  .img {
    height: 8rem;
    width: 8rem;
  }

  .price {
    font-size: 1.5rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .logoName {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 392px) {
  .imagesOfProduct {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }

  .bigImg {
    width: 22rem !important;
    height: 19rem !important;
  }
}

@media screen and (max-width: 410px) {
  .inputTagCSS {
    width: 6rem;
  }

  .imageForShopping {
    height: 1.5rem;
  }
}

@media screen and (max-width: 421px) {
  .addToCart {
    font-size: 0.8rem !important;
  }

  .removeFromCart {
    font-size: 0.8rem !important;
    margin-left: 1rem !important;
  }
}

@media screen and (max-width: 430px) {
  .priceOff {
    display: block;
  }

  .rating {
    margin-left: 0;
  }

  .cartImg {
    width: 3rem;
    height: 3rem;
  }

  .addButton {
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 470px) {
  .logoName {
    font-size: 1.5rem !important;
  }
}

@media screen and (max-width: 540px) {
  .bigImg {
    width: 25rem;
    height: 22rem;
  }
}

@media screen and (max-width: 585px) {
  .inputTagCSS {
    width: 8rem;
  }

  .addToCart {
    font-size: 1.1rem !important;
    margin-top: 2rem !important;
  }

  .removeFromCart {
    font-size: 1.1rem !important;
    margin-top: 2rem !important;
  }
}

@media screen and (max-width: 640px) {
  .leftDiv {
    width: 30%;
  }

  .rightDiv {
    width: 70%;
    margin: 0;
  }

  .logoName {
    font-size: 2.0rem !important;
  }
}

@media screen and (max-width: 920px) {
  .bigImg {
    width: 28rem;
    height: 25rem;
  }
}

@media screen and (max-width: 1200px) {
  .mainDivForProduct {
    display: block;
  }

  .leftSide {
    display: block;
  }

  .imagesOfProductDiv {
    display: flex;
    justify-content: center;
  }
}