.css-ohwg9z{
  text-align: center;
  margin-top: 5rem;
}
.css-1m9128y{
  margin: 0;
  margin-bottom: 5rem;
}
.inputTagCSS {
  height: 2rem;
  padding: 3px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: none;
  outline: none;
  transition: border-color 0.3s ease;
}

.inputTagCSS:focus {
  border-color: white;
  box-shadow: 1px 2px 3px black;
}

.drowpDown{
  width: 15rem;
  margin-right: 1rem;
}
.imageForShopping{
  height: 3rem;
}

@media screen and (max-width: 585px) {
  .drowpDown {
    width: 8rem;
  }
  .inputTagCSS {
    width: 8rem;
  }
}
@media screen and (max-width: 410px) {
  .drowpDown {
    width: 6rem;
  }
  .inputTagCSS {
    width: 6rem;
  }
  .imageForShopping {
    height: 1.5rem;
  }
}